<main>
    <div class="container">
        <ng-container *ngFor="let link of linkInput">
            <div class="card" (click)="onGoToLink(link.id,$event)"> 
                <p> {{link.originalUrl}}
                    <button (click)="onCopyLink(link.originalUrl,icon1)"  mat-button matTooltip="copy link"
                        color="primary" aria-label="Example fab with a heart icon">
                        <mat-icon #icon1>content_copy</mat-icon>
                    </button>
                </p>
                <mat-icon #icon1>arrow_downward</mat-icon>
                <p class="newUrl">
                    {{link.newUrl}}
                    <button (click)="onCopyLink(link.newUrl,icon2)" mat-button matTooltip="copy link" color="primary"
                        aria-label="Example fab with a heart icon">
                        <mat-icon #icon2>content_copy</mat-icon>
                    </button>
                </p>
                <expansion-panel-component *ngIf="link.sources.length" [link]="link"></expansion-panel-component>
                <!-- <expansion-panel-component></expansion-panel-component> -->
                <!-- <button routerLink="{{routeInput+link.id}}">view link</button> -->
            </div>




            <mat-divider></mat-divider>

        </ng-container>
    </div>
</main>