/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

main{
   /* DEBUG */
    /* border:2px solid purple; */
    /* padding: 3px; */
}

section{
    border:2px dotted orange;
    margin: 3px;
}
.dev{
    display: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
